body {
  background-color: #ffffff;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

div {
  box-sizing: border-box;
}

input, textarea, select {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
  color: #f73131;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}